.header {
  text-align: center;
  margin: 50px;
}

.header nav {
  margin-bottom: 50px;
}

.active {
  color: red;
}

nav {
  display: flex;
  justify-content: center;
}

.nav-element {
  margin: 0 1rem;
}