header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  #navbar {
    display: none;
  }

  #hamburger {
    display: flex;
  }
}

@media screen and (min-width: 999px) {
  #navbar {
    display: flex;
  }

  #hamburger {
    display: none;
  }
}